:root {
    --grey: rgb(225, 223, 226);
}



body {
    background-color: var(--grey);
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 1px 4px;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.content-container {
    text-align: center;
    margin-top: 30px
}

.btn-add-book {
    font-size: 22px;
    font-weight: 700;
    background-color: var(--grey);
    padding: 15px;
    border-style: none;
    border-radius: 10px;
}

button:hover {
    filter: brightness(90%)
}

.button-control>button {
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 80%;
    height: 40px;
}

.button-control {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;
}

.status-notRead-btn {
    background-color: rgb(255, 154, 154);
}

.remove-btn {
    background-color: var(--grey);
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin: 30px;
}

.library-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 1px 4px;
    padding: 16px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    gap: 15px;
}
.library-card>p {
    margin: 0;
    padding: 8;
}