:root {
    --grey: rgb(225, 223, 226);
}

body {
    background-color: var(--grey);
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 1px 4px;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.content-container {
    text-align: center;
    margin-top: 30px
}

.btn-add-book {
    font-size: 22px;
    font-weight: 700;
    background-color: var(--grey);
    padding: 15px;
    border-style: none;
    border-radius: 10px;
}

button:hover {
    filter: brightness(90%)
}

.button-control>button {
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 80%;
    height: 40px;
}

.button-control {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;
}

.status-not-read-btn {
    background-color: rgb(255, 154, 154);
}

.status-read-btn {
    background-color: rgb(196, 236, 187);
}

.remove-btn {
    background-color: var(--grey);
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin: 30px;
}

.library-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 1px 4px;
    padding: 16px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    gap: 15px;
}

.library-card>p {
    margin: 0;
    padding: 8;
}

.form-div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 300px;
    transform: translate(-50%, -50%);
    display:none;
    z-index: 1;
}

.input-book {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    background-color: var(--grey);
}

input[type='text'],input[type='number']  {
    height: 30px;
    font-size: 16px;
    width: 100%;
}

input[type='submit'] {
    font-size: 16px;
    height: 30px;
}

.is-read {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

input[type='checkbox'] {
    height: 16px;
    width: 16px;
}
label[for=isRead] {
    font-size: 20px;
}

.overlay{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}